@layer reset {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

@layer elements {
    a {
        color: var(--primary-blue);
        text-decoration: none;

        &:hover {
            text-decoration: underline 1px solid currentColor;
        }
    }

    a:has(img) {
        display: flex;
        align-items: center;
    }

    button {
        border: none;
        border-radius: 8px;
        padding: 4px 8px;
        background: var(--offset-grey);
        display: block;
        margin: 16px auto;

        &:hover {
            background: var(--primary-red);
        }

        &:active {
            background: var(--offset-grey);
        }
    }

    input[type='file'] {
        border: none;
        border-radius: 8px;
        padding: 4px 8px;
        background: var(--offset-grey);
        display: block;
        margin: 16px auto;

        &:hover {
            background: var(--primary-red);
        }
    }

    pop-up {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
        height: fit-content;
        background: var(--bg);
        padding: 32px;
        z-index: 1000;
        border-radius: 8px;
        border: var(--rule-width) solid var(--secondary-grey);

        &::part(close-button) {
            position: absolute;
            top: 0px;
            right: 0px;
            font-size: 1.2rem;
            background: none;
            /* Top-right corner is extended to fill space with pop-up border */
            border-radius: 8px calc(8px / sqrt(2)) 8px 8px;
            border: none;
            padding: 0px 8px 4px 8px;
            color: var(--secondary-red);
        }

        &::part(close-button):hover {
            background: var(--primary-red);
            color: var(--bg);
        }
    }
}

@layer layout {
    html {
        --text: #333;
        --text-faded: #999;
        --bg: #fff;
        --bg-faded: #eee;
        --primary-red: #f2737b;
        --secondary-red: #b2404b;
        --primary-blue: #6395cf;
        --secondary-blue: #325f94;
        --offset-grey: #d8d8d8;
        --secondary-grey: #4e4e4e;

        --rule-width: 1px;

        font:
            14pt / 1.5 Monteserrat,
            sans-serif;
        hyphens: auto;
        color: var(--text);
        background: var(--bg);
    }

    button,
    input {
        font:
            14pt / 1.5 Monteserrat,
            sans-serif;
        color: var(--text);
    }

    body {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template:
            'head' min-content
            'edit' 1fr
            'foot' min-content
            / 1fr;
    }

    nav {
        padding: 12px 8px;
        background: var(--secondary-grey);
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;

        a:first-child:has(img) {
            padding-right: 32px;
        }

        a {
            color: var(--primary-red);
            text-decoration: none;
        }
    }

    tool-bar {
        background: var(--offset-grey);
        display: block;
        width: 100%;
        border-bottom: var(--rule-width) solid var(--text-faded);

        input[type='text'] {
            border: var(--rule-width) solid var(--text-faded);
            border-bottom: none;
            background: var(--bg);
            font-size: 0.8rem;
            margin: 4px 4px 0 4px;
            padding: 2px 4px;
        }

        button {
            border: var(--rule-width) solid var(--text-faded);
            border-radius: 8px 8px 0 0;
            border-bottom: none;
            background: var(--bg-faded);
            font-size: 0.8rem;
            margin: 4px 4px 0 4px;
            padding: 2px 8px;
            display: inline;

            &:hover {
                background: rgb(from var(--primary-red) r g b / 0.3);
            }

            &:active {
                background: var(--primary-red);
            }
        }
    }

    footer {
        text-align: center;
        background-color: var(--secondary-grey);
        color: var(--bg);
        padding: 8px;
        font-size: 0.7rem;
    }
}

@layer line-editor {
    line-editor {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }

    button#verify-button {
        position: absolute;
        top: 8px;
        right: 16px;
        z-index: 1000;
    }

    div#line-editor-canvas {
        width: 100%;
        height: 100%;
    }
}

@layer block-editor {
    block-editor {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template:
            'blockly code' 1fr
            / 2fr 1fr;

        div#code-preview {
            border-left: var(--rule-width) solid var(--text-faded);
            overflow: auto;
            padding: 8px;
        }
    }
}

@font-face {
    font-family: Monteserrat;
    src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: Monteserrat;
    src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Monteserrat;
    src: url('/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
    font-style: italic;
}

@font-face {
    font-family: Monteserrat;
    src: url('/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
    font-style: italic;
    font-weight: bold;
}

custom-tooltip {
    position: absolute;
    pointer-events: none;

    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 3px;
    padding: 3px 4px;

    font-size: 10px;
    line-height: 1.2;

    max-width: 40%;
    display: none;
}
